.head-section{
    font-size: 25px;
    padding: 40px;
    
    background-image: url(/assets/frontpic.png);
    height: 500px; 
    background-position: right; 
    background-repeat: no-repeat; 
}
p{
    width: 700px;
    text-align: center;
    padding-left: 150px;
    padding-top: 55px;
}